body {
    font-family: 'Poppins', sans-serif;
    background-color: #1776f2;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

#weatherContainer {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: #1776f2;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(31, 116, 228, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#currentWeather {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

#currentWeather h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #0af043;
}

#currentWeather h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #042e5e;
}

#currentWeather p {
    margin: 0;
}

#additionalInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#additionalInfo p {
    font-size: 18px;
    color: #dcdde1;
}

#forecast {
    width: 100%;
    margin-top: 30px;
}

#forecast h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

#loading {
    margin-top: 20px;
    font-size: 18px;
    color: #d2eaf6;
}

.hidden {
    display: none;
}

#weatherForm {
    display: flex;
    gap: 1px;
    justify-content: center;
    margin-bottom: 20px;
}

#weatherForm input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: none;
    width: 250px;
    outline: none;
}

#weatherForm button {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #4cd137;
    color: white;
    cursor: pointer;
}

#weatherForm button:hover {
    background-color: #3ca02a;
}